<!-- Menu Dropdown Toggle -->
<div class="hdtb-mn-hd gsr-menu-toggle <%- currentRegion && 'hdtb-sel' %>" role="button">
  <div class="mn-hd-txt">
    <% if (currentRegion) { %>
      <% if (currentRegion.country && config.showFlags) { %><span class="flag flag-<%- currentRegion.country %>"></span><% } %>
      <%- currentRegion.name %>
    <% } else { %>
      Regions
    <% } %>
  </div>
  <span class="mn-dwn-arw"></span>
</div>

<!-- Menu Dropdown -->
<ul class="hdtbU hdtb-mn-c gsr-menu-dropdown">
  <!-- List user regions. -->
  <% config.userRegions.map(getRegionByID).forEach(region => { %>
    <% if (currentRegion && region.id === currentRegion.id) { %>
      <li class="hdtbItm hdtbSel">
        <% if (region.country && config.showFlags) { %><span class="flag flag-<%- region.country %>"></span><% } %>
        <%- region.name %>
      </li>
    <% } else { %>
      <li class="hdtbItm">
        <a class="q qs" href="<%- getSearchURL(region) %>">
          <% if (region.country && config.showFlags) { %><span class="flag flag-<%- region.country %>"></span><% } %>
          <%- region.name %>
        </a>
      </li>
    <% } %>
  <% }); %>

  <!-- Configuation Modal Toggle -->
  <li class="hdtbItm">
    <div class="cdr_sep"></div>
    <a class="q qs gsr-menu-config" data-gsr-onclick="showModal" title="Google Search Region">...</a>
  </li>
</ul>
