<% const { showFlags, userRegions } = config; %>

<span>
  <g-popup>
    <!-- Menu Dropdown Toggle -->
    <div class="rIbAWc hide-focus-ring" aria-haspopup="true" role="button" tabindex="0">
      <div class="hdtb-mn-hd gm-region-menu-toggle <%- currentRegion ? 'hdtb-sel' : '' %>" data-gm-region-onclick="toggleMenu">
        <div class="mn-hd-txt KTBKoe" data-gm-region-onclick="toggleMenu">
          <% if (currentRegion) { %>
            <% let { name, country } = currentRegion; %>
            <% if (country && showFlags) { %> <span class="flag flag-<%- country %>" data-gm-region-onclick="toggleMenu"></span> <% } %>
            <%- name %>
          <% } else { %>
            Regions
          <% } %>
        </div>
        <span class="mn-dwn-arw gTl8xb"></span>
      </div>
    </div>
    <!-- Menu Dropdown -->
    <div class="EwsJzb sAKBe gm-region-menu-dropdown" style="display: none">
      <g-menu class="cF4V5c PVU5bf Tlae9d gLSAk" role="menu" tabindex="-1">
        <!-- User Regions List -->
        <% userRegions.map(getRegionByID).forEach(region => { %>
          <% if (!region) { return; } %>
          <% let { id, name, country } = region; %>
          <% let isCurrent = currentRegion && currentRegion.id === id; %>
          <% let url = getSearchURL(region); %>
          <g-menu-item class="ErsxPb hide-focus-ring <%- isCurrent ? 'nvELY' : '' %>">
            <div class="znKVS tnhqA">
              <a href="<%- url %>" role="menuitem">
                <% if (country && showFlags) { %> <span class="flag flag-<%- country %>"></span> <% } %>
                <%- name %>
              </a>
            </div>
          </g-menu-item>
        <% }); %>
        <!-- Configuration Modal Toggle -->
        <g-menu-item class="ErsxPb hide-focus-ring">
          <div class=""znKVS tnhqA>
            <a class="gm-region-menu-config" data-gm-region-onclick="showModal" title="Google Search Region">...</a>
          </div>
        </g-menu-item>
      </g-menu>
    </div>
  </g-popup>
</span>
