<% const { setTLD, setHl, setGl, setCr, setLr, showFlags, userRegions } = config; %>

<!-- Configuration Modal -->
<div class="gm-region-modal" data-gm-region-onclick="hideModal">
  <!-- Modal Dialog -->
  <div class="gm-region-modal-dialog">
    <!-- Modal Header -->
    <div class="gm-region-modal-header">
      <div class="gm-region-modal-title">Google Search Region</div>
      <div class="gm-region-modal-close" role="button" aria-label="Close" data-gm-region-onclick="hideModal"></div>
    </div>

    <!-- Modal Body -->
    <div class="gm-region-modal-body">
      <!-- Menu Configuration -->
      <div class="gm-region-modal-subtitle">Menu</div>
      <!-- config.showFlags -->
      <label class="gm-region-control">
        <input class="gm-region-control-input" type="checkbox" data-gm-region-config="showFlags" <%- showFlags ? 'checked' : '' %>>
        <span class="gm-region-control-indicator"></span>
        <span class="gm-region-control-description">Show country flags</span>
      </label>

      <!-- URL Configuration -->
      <div class="gm-region-modal-subtitle">URL</div>
      <!-- config.setTLD -->
      <label class="gm-region-control">
        <input class="gm-region-control-input" type="checkbox" data-gm-region-config="setTLD" <%- setTLD ? 'checked' : '' %>>
        <span class="gm-region-control-indicator"></span>
        <span class="gm-region-control-description">Set top level domain</span>
      </label>
      <!-- config.setHl -->
      <label class="gm-region-control">
        <input class="gm-region-control-input" type="checkbox" data-gm-region-config="setHl" <%- setHl ? 'checked' : '' %>>
        <span class="gm-region-control-indicator"></span>
        <span class="gm-region-control-description">Set host language (hl)</span>
      </label>
      <!-- config.setGl -->
      <label class="gm-region-control">
        <input class="gm-region-control-input" type="checkbox" data-gm-region-config="setGl" <%- setGl ? 'checked' : '' %>>
        <span class="gm-region-control-indicator"></span>
        <span class="gm-region-control-description">Set region (gl)</span>
      </label>
      <!-- config.setCr -->
      <label class="gm-region-control">
        <input class="gm-region-control-input" type="checkbox" data-gm-region-config="setCr" <%- setCr ? 'checked' : '' %>>
        <span class="gm-region-control-indicator"></span>
        <span class="gm-region-control-description">Set country filter (cr)</span>
      </label>
      <!-- config.setLr -->
      <label class="gm-region-control">
        <input class="gm-region-control-input" type="checkbox" data-gm-region-config="setLr" <%- setLr ? 'checked' : '' %>>
        <span class="gm-region-control-indicator"></span>
        <span class="gm-region-control-description">Set language filter (lr)</span>
      </label>

      <!-- Regions Configuration -->
      <div class="gm-region-modal-subtitle">Regions</div>
      <div class="gm-region-columns">
        <!-- config.userRegions -->
        <% regions.forEach(region => { %>
          <% let { id, name, country } = region; %>
          <% let isChecked = userRegions.includes(id); %>
          <label class="gm-region-control" title="<%- name %>">
            <input class="gm-region-control-input" type="checkbox"
                   data-gm-region-config="userRegions:<%- id %>" <%- isChecked ? 'checked' : '' %>>
            <span class="gm-region-control-indicator"></span>
            <span class="gm-region-control-description">
              <% if (country) { %> <span class="flag flag-<%- country %>"></span> <% } %>
              <%- name %>
            </span>
          </label>
        <% }); %>
      </div>
    </div>

    <!-- Modal Footer -->
    <div class="gm-region-modal-footer">
      <button class="gm-region-btn gm-region-btn-primary" data-gm-region-onclick="save">Save</button>
      <button class="gm-region-btn gm-region-btn-default" data-gm-region-onclick="hideModal">Cancel</button>
    </div>
  </div>
</div>
