/*!
 * Region Menu Dropdown CSS
 */

.hdtb-sel {
  font-weight: bold;
}

.gsr-menu-dropdown {
  max-height: 80vh;
  overflow-y: auto;
}

.gsr-menu-dropdown .hdtbItm.hdtbSel {
  padding: 0;
}

.gsr-menu-dropdown .hdtbItm.hdtbSel a {
  background-color: transparent;
}

.gsr-menu-config {
  cursor: pointer;
}
