/*!
 * Region Menu Dropdown CSS
 */

.hdtb-sel {
  font-weight: bold;
}

.gm-region-menu-toggle {
  margin-inline-end: 32px;
}

.gm-region-menu-dropdown {
  display: none;
  position: absolute;
  max-height: 80vh;
  overflow-y: auto;
  z-index: 200;
}

.gm-region-menu-dropdown-show {
  display: block;
}

.gm-region-menu-dropdown .hdtbItm.hdtbSel {
  padding: 0;
}

.gm-region-menu-dropdown .hdtbItm.hdtbSel a {
  background-color: transparent;
}

.gm-region-menu-config {
  cursor: pointer;
}

.gm-region-menu-dropdown g-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
