/*!
 * Region Menu Dropdown CSS
 */

.hdtb-sel {
  font-weight: bold;
}

.gsr-menu-dropdown {
  max-height: 80vh;
  overflow-y: auto;
}

.gsr-menu-dropdown .hdtbSel a {
  padding: 0 !important;
}

.gsr-menu-config {
  cursor: pointer;
}
